* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: fixed;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  height: 69px;
  /*min-width: */
}

div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.logo {
  height: 50px;
}

nav a {
  padding: 0 10px
}

div.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section#mission {
  height: 700px;
  max-width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

section#totm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

div.teas {
  display: flex;
  width: 1000px;
  height: 500px;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

div.teabox {
  margin: 15px;
}

div.teabox img {
  height: 200px;
  width: 300px;
}

div.teabox h4 {
  margin: 10px;
}

section#locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
}

div.locheading {
  background: none;
}

div.locheading h2 {
  background: none;
}

div.locboxes {
  display: flex;
  justify-content: center;
  background: none;
}

div.locbox {
  width: 300px;
  line-height: 2.5;
  padding: 10px 0;
  margin: 0 40px;
}

div.locbox h3 {
  margin: 0;
}
